<!DOCTYPE html>
<html ng-app="workflow">
<head>
	<title>Workflow Management System</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-controller="HomeCtrl">
 <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Workflow Management System</a>
    </div>
</nav>

<div class="container" style="margin-top: 60px;">
	<div class="row">
		<div class="col-md-3">
			<label class="btn btn-default btn-file">
    			Choose a CWL file... <input type="file" fileread="cwl" style="display: none;">
			</label>
			<span>{{cwl.name}}</span>
		</div>
		<div class="col-md-3 text-right">
			<button ng-click="loadWorkflow()" class="btn btn-primary" ng-disabled="!cwl">Load workflow</button>
		</div>
	</div>

	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6"><pre>{{workflow}}</pre></div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered">
						<thead>
							<th class="text-center">Inputs</th>
							<th class="text-center">Is sensitive?</th>
							<th class="text-center">Anonymity degree</th>
						</thead>
						<tbody>
							<tr ng-repeat="i in inputs">
								<td>{{i.input}}</td>
								<td><input type="radio" ng-checked="i.isSensitive" ng-click="i.isSensitive = true"> Yes <input type="radio" ng-checked="!i.isSensitive" ng-click="i.isSensitive = false; i.anonymityDegree = ''"> No</td>
								<td class="text-center"><input type="text" class="form-control" ng-disabled="!i.isSensitive" ng-model="i.anonymityDegree" style="width: 50px;"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button ng-click="loadAnalysis()" ng-disabled="inputs.length == 0" class="btn btn-sm btn-success" style="width: 100%;">Extract dependencies</button>
				</div>		
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered" style="margin-top: 15px;">
						<thead>
							<th colspan="2" class="text-center">Depends On</th>
						</thead>
						<tbody>
							<tr ng-repeat="d in dependencies.dependencies">
								<td>{{d.output}}</td>
								<td>{{d.inputs.join(', ')}}</td>
							</tr>
						</tbody>
						<tfoot ng-if="dependencies.timeSpent != undefined">
							<td colspan="2" class="text-center" style="font-size: 10px; color: blue;">{{dependencies.timeSpent}} milliseconds were spent executing this operation</td>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered" style="margin-top: 15px;">
						<thead>
							<th class="text-center">Sensitive parameters detected</th>
							<th class="text-center">Anonymity degree calculated</th>
						</thead>
						<tbody>
							<tr ng-repeat="s in sensitiveOutputs">
								<td>{{s.output}}</td>
								<td>{{s.anonymityDegree}}</td>
							</tr>
						</tbody>
						<tfoot ng-if="sensitiveOutputs.length > 0">
							<td class="text-center" style="font-size: 10px; color: blue;">{{timeSpentSensitiveOutputs}} milliseconds were spent executing this operation</td>
							<td class="text-center" style="font-size: 10px; color: blue;">{{timeSpentAnonymityDegree}} milliseconds were spent executing this operation</td>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="node_modules/yamljs/dist/yaml.debug.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app/controllers/main.js"></script>
<script src="app/controllers/home.js"></script>
<script src="app/services/services.js"></script>
<script src="app/directives/fileread.js"></script>
</body>
</html>